@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1666872839643') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenleiorguangchangorqitatianchong:before {
  content: "\e67d";
}

.icon-bijiben-copy:before {
  content: "\e62c";
}

.icon-shangdian:before {
  content: "\e633";
}

.icon-shouye:before {
  content: "\e62d";
}

.icon-pinpaisheji:before {
  content: "\e73f";
}

.icon-shouye1:before {
  content: "\e671";
}

.icon-kehuduanyonghuguanli:before {
  content: "\e66a";
}

